{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
<main class="container">
  <section>
    {%if shows %}
      {% for show in shows %}
      <article class="row show-item">
        <div class="col-xs-4 show-date">
          <time datetime="2018-01-11">
            <span class="day">{{show.date | date:"d "}}</span>
            <span class="month">{{show.date | date:"b "}}</span>
            <span class="year">{{show.date | date:"Y"}}</span>
          </time>
        </div>
        <div class="col-xs-6 show-info">
          <h2 class="media-heading">{{show.title}}</h2>
          <p class="small">{{show.body|richtext}}</p>
        </div>
        <div class="col-sm-2">
          <p class="location"><a href="{{show.location_url}}">{{show.locationa}}</a></p>
        </div>
      </div>
      <hr>
    </article>
    {% endfor %}
  </section>
  {% else %}
  <br>
  <article class="container">
    <p class="text-center lead">Ni novih nastopov ... je to konec bande ... Ne ni. Vse bo okej. Malo smo na odmoru.</p>
  </article>
  {% endif %}
</main>
{% endblock content %}
